.overflow-hidden {
  overflow: hidden;
}

.overflow-auto {
  overflow: auto;
}

.pageCommonStyle{
  width:97%;
  margin:0 auto;
  margin-bottom: 10px;
  padding: 18px  18px 10px 18px;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0px 0px 5px  #ccc;
  overflow: auto;
}
